@media only screen and (min-width: 64em) {
    main,
    .gallery {
        max-width: 90em;
    }
    .gallery {
        grid-template-columns: auto auto auto;
    }
    .gallery figure {
        box-shadow: 2px 2px 5px #263640;
}
}
form label.sbs {
    padding: .4rem 0;
}