@media screen and (max-width: 600px) {
   
    table {
      display: none;}

     .tdiv {
        display: none;}


    }
/*
    @media only screen and (min-width: 600px) {
        .navigation li:first-child { display: none;	}
          .navigation li { display: inline-block; margin-right: 1rem;}	}
*/
@media only screen and (min-width: 700px) {

    nav button {display: none;}

nav ul.hide {display: block;}

nav ul {margin-left:2%;}
    
nav ul li {float: left;}

nav ul li a {
    border: none;
    border-right: 1px solid #263640;
    padding: .8rem 1rem;
}
}
