h1 {
    font-size: 2em;
    font-family: 'Quattrocento', serif;
    color: #899071;
    font-weight: lighter;
    margin-bottom: 0;
    margin-left: 15px;
}
h2 {
    font-size: 4em;
    color: #354118;
    font-family: 'Italianno', cursive;
    text-align: center;
    font-weight: lighter;
    margin: 20px 0px;
}
h3 {
    font-size: 3em;
    color: #354118;
    font-family: 'Italianno', cursive;
    text-align: center;
    font-weight: lighter;
    margin: 10px 0px;
}
* p {
    font-family: 'Quattrocento', serif;
    color: #354118;
}
.active {
    background-image: linear-gradient(#cfd1c7, #ffffff);
}
#logo {
    float: left;
    width: 100px;
    padding: 0px;
    margin: 0 20px;
    
  }
  .conthd {
      font-size: 1em;
      color: #354118;
      text-align: left;
      margin-top: 0;
      margin-left: 15px;
      padding-top: 0;
  }
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #354118;
}

nav {	
    display: flex;
    flex-direction: column;
}
nav ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    margin: 5px;
    padding: .8rem 2%;
    text-decoration: none;
    color: #354118;
    font-family: 'Italianno', cursive;
    font-size: 2.5em;
}
nav ul li a:hover {
    background-image: linear-gradient(#cfd1c7, #ffffff); 
}

nav ul.hide {
    display: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
#container, p {
    text-align: center;
    font-size: 1.5rem;
    color: #354118;
    font-family: 'Quattrocento', serif;
}
.tmplMain {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.recptImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
.weather {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
    margin-left: 5px;
	border: 1px solid #354118;
	padding:  1rem;
    box-shadow: 0 0 30px #fff;
    font-size: smaller;
    color: #ffffff;
}
#address {
    font-size: 1.5em;
    color: #354118;
    text-align: left;
    margin-top: 0;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Quattrocento', serif;
}

legend {
    color: #354118;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
form fieldset {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 1px solid #899071;
    border-radius: 5px;
    padding: .5rem 2%;
   width: 25rem; 
}
.top {
    padding-top: 1rem;
    color: #354118;
    font-size: 1.3rem;
}
.submitBtn {
    border: none;
    background-color: #899071;
    color: #ffffff;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    margin: 1rem;
    width: 95%;
    max-width: 20rem;
}
.reserveBtn {
    border: none;
    background-color: #899071;
    color: #ffffff;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    margin: auto;
    width: 95%;
    max-width: 20rem;
}
section {
    margin-top: 40px;
}
section a {
    text-decoration: none;
    color: #f3eddf;
}
#availChk {
    font-family: 'Quattrocento', serif;
    font-size: 3em;
    color: #899071;
    text-align: center;
}
.headImg {
    width: 100%;
    box-shadow: 0 0 10px #354118;
}
.right-column, .left-column {
    width: 45%;
    flex: 1 0 15em;
    margin: .5em;
    min-width: 275px;
  }
  .address-map {
    width: 45%;
    flex: 1 0 15em;
    margin-left: 25px;
    min-width: 275px;
  }
  #first-row, #second-row, #ammenities, #specServ, #mission {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }
  .top-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
  }
  .about {
      text-align: justify;
  }
  #img1, #img2 {
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 0 10px #354118;
    margin-top: 25px;
}
#mission .left-column p {
    font-size: 1.8em;
}
  #ammenities, p { 
    font-size: 1.3rem;
    color: #354118;
    font-family: 'Quattrocento', serif;
  }
  #ammentities, ul {
    list-style-type: none;
    text-align: center;
  }
  #temple-video {
      display:flex;
      justify-content: center;
      margin-top: 25px;
  }
  footer {
    
    background-image: linear-gradient(#cfd1c7, #ffffff);
    padding: 15px 0px;
    margin-top: 40px;
  }
  #copy {
     font-size: 1em;
  }
  footer p {
      margin: 10px 50px;
      font-size: .8em;
  }