/* || general styles */

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  
  body {
    background-color: antiquewhite;
    width: 1000px;
    margin: 0 auto;
  }
  
  h1, h2 {
    font-family: 'Bangers', cursive;
    font-weight: 50;
    text-align: center;
  }
  
  /* header styles */
  
  h1 {
    color: #5e2929;
    font-size: 5rem;
    text-shadow: 0 0 5px #181855;
    text-align: center;
  }
  
  header p {
    color: #181855;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }
  
  /* section styles */
  
  section article {
    border: 3px solid #181855;
    border-radius: 15px;
    background-color: aliceblue;
    box-shadow: 0 0 10px #181855;
    width: 30%;
    margin: 8px;
    padding: 5px;
    float: left;
  }
  
  section p {
    color: #181855;
    margin: 5px 0;
  }
  
  section ul {
    color: #181855;
    margin-top: 0;
  }
  
  h2 {
    color: #5e2929;
    font-size: 2rem;
    margin-bottom: 10px;
  }