body {
	background-color: #d3e2e5;
}

header {
    display: flex;
    justify-content: center;
	margin: 10px auto;
	background-color: #4C6C7F;
	border: 1px solid #263640;
	box-shadow: 0 0 15px #263640;
	text-align: center;
}

header h1 {
    font-size: 3em;
    color: #263640;
    text-shadow: 2px 2px 8px #d3e2e5;
    margin: 0;
}

header h2 {
    margin: 0;
}

header img, .headings {
	display: inline-block;
	vertical-align: middle;

}
h1 {
	font-size: 35px;
	font-family: 'Raleway', sans-serif;
    color: #263640;
    text-align: center;
}

h2 {
    margin: 10px 0px;
	font-size: 25px;
	font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 25px;
}

h3 {
    font-family: 'Raleway', sans-serif;
	
}

.motto {
	font-size: 15px;
	font-style: italic;
	font-family: 'Raleway', sans-serif;
	color: #ffffff
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #ffffff;
}

nav {	
    display: flex;
    flex-direction: column;
    background-color: #4C6C7F;
    border: 1px solid #263640;
	box-shadow: 0 0 15px #263640;
}
nav ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #263640;
    
}
nav ul li a:hover {
    background-color: #263640; 
}
nav ul li:active a {
    background-color: #89c2e5;
}
nav ul.hide {display: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*.active {
    background-color: #89c2e5;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100%;
}
*/
.homepage img {
    width: 100%;
}
main {
    padding: 5px;
}

main h2 {
    color: #263640;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size:2rem;
    text-shadow:3px 3px 5px #777;
}
main article  { max-width: 1300px;
    margin: auto;
}
main picture.herodiv img {
    position: relative;
    width: 100%;
    margin: auto;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #263640;
    border-radius: 5px;
    padding: .5rem 2%;
   width: 30rem; 
}
form legend {
    color: #263640;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.5rem;
    font-weight: bold;
}
form label.top {
    display: block;
    padding-top: 1rem;
    color: #263640;
    font-size: .8rem;
}
form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #263640;
    border-radius: 3px;
    padding: .50rem;
    color: #263640;
    width: 100%;
    max-width: 20rem;
    background-color: #fff;
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #263640;
}
form input.submitBtn {
    border: none;
    background-color: #263640;
    color: #dddddd;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 95%;
    max-width: 20rem;
}

.stats {
    font-size: 13px;
    position: absolute;
    display: grid;
    grid-template-columns: 110px 50px;
    grid-column-gap: 15px;
	top: 500px;
    left:150px;
    color: #ffffff;
    background-color: #4C6C7F;
    opacity: .8;
	border: 1px solid #263640;
	padding:  1rem;
	box-shadow: 0 0 30px #fff;
}
.stats p {
    margin: 1.5px;
}

.stats h3 {
    font-size: 16px;

    grid-column-start: 1;
    grid-column-end: 3;
}

.item2 .item4 .item6 .item8 .item10 .item12 {
    text-align: right;
}

.item9 {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
* {box-sizing: border-box;}

.gallery {
    display: grid;
    padding: 20px;
    margin-left: 0;
    grid-template-columns: 1fr;
    max-width: 480px;
    grid-gap: 20px;
}

.gallery figure:hover {
    transition: .5s ;
    opacity: .5;
    box-shadow: 0 0 25px #263640;
}

.gallery figure { 
    width: 75%;
    border: 1px solid #263640;
    border-radius: 15px;

}

.gallery figure img { 
    border-radius: 15px 15px 0 0;
    width: 100%;
}

figcaption {
    text-align: center;
    font-size: 12px;
    padding: 5px;
    color: #263640;
}

#forecast-table {
    border-collapse: collapse;
    margin-left: 110px;
}
  
#forecast-table td, th {
    border: 1.5px solid #263640;
    padding: 20px;
  }

  td {
    text-align: center;
    vertical-align: center;
  }

  th {
      text-align: center;
      vertical-align: center;
      background-color: #4C6C7F;
      color: white;
  }
article img {
    float: right;
    border: double #263640;
    box-shadow: #263640 0 0 10px;
    margin: 0 0 10px 15px;
}

.showData {
    display: flex;
    
    max-width: 90%;
    justify-content: center;
    color: #263640;
    margin: auto;
    text-align: center;
       
    }
    
    section article {

        background-color: #dddddd;
        color: #263640;
        border-style: double;
        box-shadow: 0 0 20px #263640;
        padding: 0 10px 0 10px;
        width: 100%;
        margin: 2em 1em;
        padding: 2em;
    }
    section article img {
        
        margin: 10px 15px 20px 15px;
    }
    
    .showData h3 {
        color: #263640;
        margin: 0.5em;
        text-align: center;
    }
    .showData p {
        margin: 1em;
    }
    .showData ul {
        line-height: 1.9em;
    }
footer {
    color: white;
	background-color: #4C6C7F;
	border: 1px solid #263640;
	box-shadow: 0 0 30px #263640;
    text-align: center;
    margin-top: 25px;
}
footer a {
    color: white;
}
footer a:hover {
    color: #f1f19b;
}
footer p {
    padding:0px 20px 0px 20px;
}
footer p span {
   align-content: center;
}

* {
    font-family:'Raleway', sans-serif;
}
